    @media (min-width:992px) and (max-width:1199px){
        .heading h3 {
            font-size: 44px;
          
        }
        #home .home-text span {
            font-size: 46px;
            
        }
        #resume .education-tabs .education-item .education-inner .education-content::after {
            right: 105.6%;
        }  

    }

@media (max-width:991px){
    #home .home-text span {
        font-size: 43px;
        
    }
    #home .home-text p {
        margin-bottom: 54px !important;
    }
    #features::after {
        width: 700px; 
    }
    .heading h3 {
        font-size: 38px;
    }
    #resume .education-tabs .education-item {
        padding-left: 28px;
    }
    #resume .education-tabs .education-item .education-inner .education-content::after {
        right: 103%;     
    }    
}
@media (min-width:576px) and (max-width:767px){
    .offcanvas-start {
        width: 341px !important;
    }
    /* ===============
    home section end
    ================ */
    #features::after {
        width: 500px;
        
    }
    .heading h3 {
        font-size: 41px;
    }
    #resume .resume-tabs ul li {
        width: 100% !important;
        text-align: center;
    }
    #resume .education-tabs .education-item .education-inner .education-content::after {
        right: 104%;
        

    }
    
    
}
@media(max-width:575px){
    #home .home-text h1 {
        font-size: 35px ;
    }
    #home .home-text h1 span {
        font-size: 35px !important;
    }
    #home .home-text span {
        font-size: 33px;
        
    }
    .offcanvas-start {
        width: 323px !important;
    }
    /* =============
    home section end
    ================= */
    #features::after {
        width: 340px;
        
    }
    .heading span {
        font-size: 10px;
      
    }
    .heading h3 {
        font-size: 44px;
    }
    #resume .resume-tabs ul li {
        width: 100% !important;
        text-align: center;
    }
    #resume .resume-tabs ul li .nav-link {
        padding: 19px 0;
        
    }
    #resume .education-tabs .education-item .education-inner .education-content::after {
        right: 105%;
    }
    #resume .education-tabs .education-item .education-inner .education-content {
        padding: 27px 14px;
    }
    #resume .education-tabs .education-item .education-inner .education-content .education-text {
        flex-direction: column;
        align-items: flex-start !important;
    }
    #resume .education-tabs .education-item .education-inner .education-content .education-text a {
        margin-top: 18px;
    }
}
@media(max-width:479px){
    .heading h3 {
        font-size: 30px;
    }
    #home .home-text span {
        font-size: 30px;
    }
    #resume .education-tabs .education-item {
        padding-left: 17px;
    }
    #resume .education-tabs .education-item .education-inner .education-content::after {
        right: 103%;
    }
    #resume .education-tabs h4 {
        font-size: 25px;
    }
    #resume .skills-tabs h4 {
        font-size: 25px;
        
    }
}